<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INFO DISDIK.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
				<key>dateExpires</key>
				<string>12/26/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E578A7BE7EBBD81CB78CE5C8ACDCB2F15635456</string>
						<key>dateExpires</key>
						<string>12/26/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CG2Q6NUH6D</string>
						<key>name</key>
						<string>Jekky Sulianto</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CG2Q6NUH6D.net.schooldroid.infodisdik-ios1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CG2Q6NUH6D</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>CG2Q6NUH6D.net.schooldroid.infodisdik-ios1</string>
				</array>
			</dict>
			<key>name</key>
			<string>INFO DISDIK.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b3b5e3f9-25c7-48b8-a9e1-43be3aaf89ea</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CG2Q6NUH6D</string>
				<key>name</key>
				<string>Jekky Sulianto</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
